@font-face {
  font-family: Cuprum;
  src: url(../fonts/Cuprum-Regular.ttf);
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: Cuprum;
  src: url(../fonts/Cuprum-BoldItalic.ttf);
  font-weight: bold; 
  font-style: italic;
}

@font-face {
  font-family: Cuprum;
  src: url(../fonts/Cuprum-Italic.ttf);
  font-weight: normal; 
  font-style: italic;
}

@font-face {
  font-family: Cuprum;
  src: url(../fonts/Cuprum-Bold.ttf);
  font-weight: bold; 
  font-style: normal;
}

body{
  font-size: 13px;
  line-height: 24px;
  color: #000000;
  font-weight: normal;
  font-family: Cuprum, sans-serif;
  margin: 0;
}

h1{
  font-size: 24px;
  line-height: 24px;
  font-family: Cuprum, sans-serif;
}

h3{
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-weight: bold;
  font-family: Cuprum, sans-serif;
}

.clearfix::after{
  content: " ";
  display: table;
  clear: both;
}

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-first{
  background-color: #293449;
  min-height: 42px;
}

.main-page{
  width: 220px;
  float:left;
  background-color: #ee3643;
  min-height: 42px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 42px;
  box-shadow: 0px 5px 0px 0px #bf2c37; 
}

.main-page:hover{
  background-color: #ca2c37;
}

.main-page:active{
  background-color: #ba2732;
}

.main-page a{
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  line-height: 42px;
  color: white;
  font-weight: normal;
  margin-left: 0px;
  padding: 0 55px;
}

.search{
  width: 270px;
  float: left;
  min-height: 42px;
  position: relative;
}

.search input[type="search"]{
  background-color: #293449;
  border: none;
  font-size: 17px;
  line-height: 40px;
  color: white;
}

.search input{
  background-color: white;
  margin-left: 40px;
}

input[type="image"]{
  background: #293449;
  position: absolute;
  top: 12px;
  left: -27px;
}

.basket-info{
  width: 450px;
  float: right;
  min-height: 42px;
}

.basket-info a{
  color: white;
  line-height: 42px;
  font-size: 17px;
  text-decoration: none;
  position: relative;
}

.basket-info .marker{
  float: left;
  padding-left: 35px;
  width: 115px;
}

.marker:hover{
  background-color: #212a3a;
}

.basket:hover{
  background-color: #212a3a;
}

.marker:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.basket:active{
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.basket-info .marker::before{
  content: "";
  position: absolute;
  width: 14px;
  height: 16px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -64px;
  top: 12px;
  left: 10px;
  opacity: 0.3;
}

.basket-info .marker:hover::before{
  opacity: 1;
}

.basket-info .basket::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -38px;
  top: 12px;
  left: 10px;
  opacity: 0.3;
}

.basket-info .basket:hover::before{
  opacity: 1;
}

.basket-info .make-order:hover{
  background-color: #5fbb2d;
}

.basket-info .marker:active::before{
  opacity: 0.3;
}

.basket-info .basket:active::before{
  opacity: 0.3;
}


.basket-info .basket{
  float: left;
  padding-left: 35px;
  width: 115px;
}

.basket-info .make-order{
  float: right;
  padding: 0 20px;
  background-color: #63a63e;
}

.make-order:active{
  background-color: #518534;
  color: rgba(255, 255, 255, 0.51);
}

.header{
  background-color: #f1f5f7;
  min-height: 245px;
  padding-top: 20px;
}

.short-description{
  width: 230px;
  float: left;
  margin-right: 55px;
  margin-left: 50px;
}

.short-description p{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;  
  margin-bottom: 40px;
}

.address{
  width: 270px;
  float: left;
  margin-top: 20px;
  padding-top: 5px;
}

.address a{
  outline: 2px solid white;
  color: #e9292a;
  font-size: 21px;
  line-height: 18px;
  text-align: center;
  padding: 5px 50px;
  margin-left: 13px;
  text-decoration: none;
  position: relative;
}

.address a::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -232px;
  top: 9px;
  left: 8px;
}

.address p{
  color: #32425c;
  font-size: 14px;
  line-height: 24px;
  display: block;
  text-align: center;
  margin-top: 5px;
}

.user-block{
  width: 280px;
  float: right;
  margin-top: 25px;
}

.login-btn{
  color: black;
  text-decoration: none;
  font-size: 21px;
  line-height: 18px;
  padding: 10px 22px;
  background-color: white;
}

.login{
  padding-left: 40px;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
}

.login::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -178px;
  top: 13px;
  left: 10px;
}

.registration:hover{
  color: #ee3643;
}

.registration:active{
  color: rgba(0, 0, 0, 0.3);
}

.login:hover{
  color: #ee3643;
}

.login:active{
  color: rgba(0, 0, 0, 0.3);
}


.login:hover::before{
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -205px;
}


.login:active::before{
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -178px;
}


.header-nav{
  clear: both;
  background-color: #32425c;
  min-height: 56px;
}

.header-nav ul{
  box-shadow: 0 5px 0 0 #2b374d;
  margin: 0;
  padding: 0;
}

.header-nav a{
  display: block;
  color: white;
  text-decoration: none;
  line-height: 20px;
  font-size: 17px;
  padding: 18px 33px; 
}

.header-nav li:last-child a{
  padding-right: 36px;
}

.header-nav li{
  display: inline-block;
  margin-right: -2px;
}

.header-nav a:hover{
  background-color: #293449;
}

.header-nav a:active{
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

main{
  padding-top: 60px;
}

.banner-header{
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
  margin-bottom: 15px;
}

.banner-1{
  background-color: #f6b22d;
  width: 300px;
  float: left;
  margin-right: 20px;
  min-height: 123px;
  margin-bottom: 20px;
  background-image: url(../img/materials-icon.png);
  background-repeat: no-repeat;
  background-position: 215px 35px;
  background-image: url(../img/new.png);
  background-position: 240px 0px;
}

.banner-2{
  background-color: #4aafde;
  width: 300px;
  float: left;
  min-height: 123px;
  background-image: url(../img/materials.png);
  background-repeat: no-repeat;
  background-position: 200px 35px;
}

.banner-3{
  background-color: #cc79d1;
  width: 300px;
  float: right;
  min-height: 123px;
  background-image: url(../img/technique-icon.png);
  background-repeat: no-repeat;
  background-position: 195px 35px;
}

.btn-banner{
  display : inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 25px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 136px;
  font-size: 14px;
  line-height: 18px;
}

.slider{
  width: 620px;
  float: left;
  background-image: linear-gradient(#473e3f, #ee3643);
  min-height: 266px;
  position: relative;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls{
  position: absolute;
  width: 140px;
  height: 10px;
  text-align: center;
  left: 50%;
  outline: 1px solid white;
}

.slider-controls label{
  display: inline-block;
  width: 5px;
  height: 5px; 
  margin:0 3px;
  background: white;
  border: 2px solid white;
  vertical-align: top;
  border-radius: 50%;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
  background-color: #ee3643;
}

.banners-last{
  width: 300px;
  float: right;
  margin: 0;
}

.slide{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text h3{
  font-size: 30px;
  line-height: 36px;
}

.slide:nth-child(1){
  background-image: url();
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.banner-4{
  width: 300px;
  background-color: #85d179;
  min-height: 123px;
  float: right;
  background-image: url(../img/discount-icon.png);
  background-repeat: no-repeat;
  background-position: 195px 30px;  
}

.banner-5{
  width: 300px;
  background-color: #f6b22d;
  min-height: 123px;
  float: right;
  clear: both;
  margin-top: 20px;
  background-image: url(../img/delivery-icon.png);
  background-repeat: no-repeat;
  background-position: 195px 35px;  
}

.banner-4 p{
  margin-top: 25px;
}

.popular-products{
  clear: both;
  margin-top: 53px;
}

.caption{
  background-color: #f7f3ec;
  min-height: 89px;
  margin-bottom: 20px;
}

.caption h2{
  width: 380px;
  float: left;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  margin-left: 30px;
  margin-top: 30px;
}

.caption a{
  width: 255px;
  float: right;
  margin-right: 25px;
}

.btn{
  color: white;
  background-color: #ee3643;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  margin-top: 25px;
  width: 253px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
}

.product-list{
  width: 700px;
  float: right;
  padding-bottom: 65px;
}

.products{
  width: 940px;
  font-size: 0;
}

.products .row{
  margin-left: -20px;
}

.product-box .row{
  margin-left: -20px;
}

.card{
  position: relative;
  display: inline-block;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
  outline: 1px solid #ccc;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  min-height: 318px;
  font-family: "PT sans";
  font-size: 17px;
}

.card .flag{
  position: absolute;
  width: 60px;
  height: 60px;
  right: -1px;
  top: -1px;
  z-index: 20;
}

.card .flag-new{
  background: url("../img/new.png") no-repeat 0 0;
}

.card .image{
  margin-top: 15px;
}

.card .actions{
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.card .actions .buy,
.card .actions .bookmark{
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  font-family: "Cuprum", sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
  position: relative;
}

.card .actions .buy::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 16px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -38px;
  top: 7px;
  left: 12px;
  opacity: 0.3; 
}

.card .actions .bookmark{
  color: #32425c;
  background-color: white;
  border-bottom-color: #63a63e;
}

.card .actions .buy:hover{
  background-color: #5fbb2d;
  border: 3px solid #5fbb2d;
  border-bottom-color: #367315;
}

.card .actions .buy:active{
  background-color: #518534;
  border: 3px solid #518534;
}

.card .actions .bookmark:hover{
  border: 3px solid #32425c;
}

.card .actions .bookmark:active{
  opacity: 0.3;
}

.card .actions .buy:hover::before{
  opacity: 1;
}

.card .actions{
  display: none;
}

.card:hover .actions{
  display: block;
}

.card .title{
  display: block;
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 18px;
  font-family: "PT sans";
}

.card .title:hover{
  color: #ee3643;
}

.card .discount{
  min-height: 20px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.card .price{
  position: relative;
  width: 80px;
  margin: 10px auto;
  padding: 10px 30px;
  color: white;
  background-color: #ee3643;
  border-radius: 3px;
}

.card .price::after{
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.no-price{
  visibility:hidden;
}

.popular-manufacturer{
  margin-top: 20px;
  margin-bottom: 85px;
}

.company-card{
  display: block;
  width: 220px;
  outline: 1px solid #e5e5e5;
  margin-left: 0;
  float: left;
  margin-right: 20px;
  min-height: 145px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}


.company-card img{
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.company-card:hover{
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.company-card:active{
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5);
  opacity: 0.3;  
}

.about-store{
  margin-top: 60px;
  padding-bottom: 85px;
}

.left-column li{
  list-style-type: none;
  margin-left: -5px;
  position: relative;
}

.left-column li::after{
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  top: 18px;
  left: -35px;
}

.company-card:nth-child(4n){
  margin-right: 0;
}

.services-background{
  background-color: #f2f6f8;
}

.services-sliders{
  outline: 1px solid black;
}

.left-column{
  width: 540px;
  float: left;
}

.left-column h2{
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.left-column p{
  font-size: 13px;
  line-height: 24px;
}

.left-column ul li{
  font-size: 18px;
  line-height: 40px;
}

.left-column a{
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
}

.first-description{
  margin-bottom: 25px;
}

.right-column{
  width: 300px;
  float: right;
}

.right-column p{
  font-size: 13px;
  margin-bottom: 38px;
}

.right-column h2{
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.right-column a{
  width: 300px;
}

.services-background{
  padding-top: 65px;
}

.services-header h2{
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.services-header p{
  font-size: 13px;
}

.footer-up{
  background-color: #32425c;
  margin-bottom: -15px;
}

.footer-logo{
  width: 220px;
  float: left;
  min-height: 65px;

}

.footer-logo a{
  line-height: 65px;
  font-size: 30px;
  padding: 0 41px;
}

.footer-nav ul{
  width: 560px;
  float: right;
  margin-top: 40px;
  margin-bottom: 0;
}

.catalog-filters h2{
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 70px;
  padding-bottom: 10px;
  background-color: #f7f3ec;
}

.footer-contacts{
  width: 340px;
  float: left;
}

.add-nav{
  width: 540px;
  float: right;
}

.footer-nav{
  padding-bottom: 15px;
}

.footer-nav li{
  display: inline-block;
  margin-right: -2px;
}

.footer-nav li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  padding: 0 30px;
}

.footer-nav li:last-child a{
  padding-right: 0;
}

.footer-nav li:first-child a{
  padding-left: 0;
}

.footer-nav li a:hover{
  text-decoration: underline;
}

.footer-nav li a:active{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

 .add-footer li{
  display: inline-block;
  margin-right: -2px;
}


.add-footer li a{
  padding: 0 27px;
}

.add-footer li:last-child a{
  padding-right: 0;
}

.add-footer{
  padding-bottom: 55px;
}

.add-footer li a{
  color: #ffd180;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
}

.add-footer li a:hover{
  text-decoration: underline;
}

.add-footer li a:active{
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

 .footer-contacts{
  font-size: 18px;
  color: white;
 }

 .footer-bottom{
  background-color: #293449;
 }

 .footer-copyright{
  width: 230px;
  float: left;
  margin-right: 160px;
  margin-top: 25px;
 }

 .footer-copyright p{
  font-size: 16px;
  color: white;
  line-height: 20px;
}

 .footer-social{
  width: 170px;
  float: left;
  margin-right: 80px;
  margin-top: 45px;
}

.social-btn-vk::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -371px;
  top: 15px;
  left: 10px;
}

.social-btn-fb::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -123px;
  top: 10px;
  left: 14px;
}

.social-btn-inst::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: url(../img/spritesheet.png) no-repeat;
  background-position: -5px -151px;
  top: 11px;
  left: 12px;
}

.social-btn{
  font-size: 0;
  padding: 20px;
  background-color: #212a3a;
  margin-right: 5px;
  border-radius: 20px;
  position: relative;
}

.social-btn-vk:hover{
  background-color: #ee3643;
}

.social-btn-fb:hover{
  background-color: #ee3643;
}

.social-btn-inst:hover{
  background-color: #ee3643;
}

.social-btn-vk:active{
  background-color: #ee3643;
}

.social-btn-fb:active{
  background-color: #ee3643;
}

.social-btn-inst:active{
  background-color: #ee3643;
}

.footer-feedback{
  width: 140px;
  float: left;
  margin-top: 20px;
  margin-right: 0px;
}

.footer-develop{
  width: 140px;
  float: right;
  margin-top: 20px;
}

.footer-feedback p{
  color: white;
  font-size: 16px;
  margin-bottom: -5px;
} 

.footer-feedback a{
  color: #ffd180;
  font-size: 16px;
  text-decoration: none; 
}

.footer-feedback a:hover{
  text-decoration: underline; 
}

.footer-feedback a:active{
  color: #ee3643; 
  text-decoration: none; 
}


.footer-develop p{
  color: white;
  font-size: 16px;
  margin-bottom: -5px;
  margin-left: 40px;
}

.footer-develop a{
  color: #ffd180;
  font-size: 16px; 
  margin-left: 40px;
  text-decoration: none;
}

.footer-develop a:hover{
  text-decoration: underline; 
}

.footer-develop a:active{
  color: #ee3643; 
  text-decoration: none; 
}

.breadcrumbs{
  margin-top: 10px;
}

.breadcrumbs ul{
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.breadcrumbs li{
  display: inline-block;
  margin-right: 32px;
  position: relative;

}

.breadcrumbs a{
  color: black;
  text-decoration: none;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs li:before{
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #cdd1d8;
  transform: rotate(45deg);
  border-bottom: white;
  border-left: white;
  top: 5px;
  left: -25px;
}

.breadcrumbs li:first-child:before{
  display: none;
}

.catalog-filters{
  width: 220px;
  float: left;
  outline: 2px solid black;
}

.sorting-product{
  background-color: #f7f3ec;
  min-height: 38px;
  clear: both;
}

.sorting-product li{
  display: inline;
  margin-right: 50px;
}

.sorting-product li a{
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-size: 13px;
}

.sorting-product h2{
  width: 100px;
  float: left;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 38px;
  margin-left: 15px;
}

.header-catalog{
  background-color: #f2f6f8;
  min-height: 90px;
}

.header-catalog h1{
  font-size: 30px;
  line-height: 90px;
  margin-left: 30px;
  color: #32425c;
  text-transform: uppercase;
}


.sorting-product ul{
  width: 460px;
  float: right;
  padding: 0;
  padding-top: -10px;
}

.products-card{
  width: 220px;
  float: left;
  margin-right: 20px;
  margin-top: 20px;
}

.products-card:nth-child(3n){
  margin-right: 0;
}

.btn-page a{
  padding: 10px 15px;
  border: 1px solid #e5e5e5;
  margin-right: 10px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 4px;
}

.btn-page a:last-child{
  padding-left: 35px;
  padding-right: 35px;
}

.btn-page a:hover{
  border-color: #bdc6ca;
}

.btn-page a:active{
  border-color: #ee3643;
}

.btn-page{
  clear: both;
}

.btn-page .page-now{
  background-color: #ee3643;
  color: white;
}

.product-box{
  margin-bottom: 40px;
  font-size: 0;
  margin-top: 20px;
}

.about-drill-presses{
  background-color: #f2f6f8;
  padding-bottom: 70px;
  padding-top: 30px;
}

.about-drill-presses h3{
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.about-drill-presses p{
  margin-bottom: 0;
}